body {
  margin: 0;
}

#pageTitle {
  width: fit-content;
  margin: auto;
  display: block;
  margin-bottom: 20px;
  height:250px;
}

h1 {
    border-bottom: 3px solid #FA7546;
    padding-top:100px;
    z-index: 10;
  }
  
#headerButtons {
    display:flex;
    justify-content: flex-end;
  }
