body {
    background-color: rgb(235, 194, 117)
    
}
#possible {
  text-align: center; 
}

#button {
    background-color:rgb(239, 233, 223);
    color: black;
}

#data {
    font-family: Arial, Helvetica, sans-serif;
    
}

/* .container {
    line-height: 1.4;
    text-align: center;
    padding: 44px;
    color: #333;
  } */
