
.carousel {
    width: 500px;
    height: 350px;
    margin: 0 auto;
  }
  
  .carousel-inner>.item>img {
    margin: 0 auto;
  }
  
  div.c-wrapper {
    width: 100%;
    /* for example */
    margin: auto;
  }
  
  .carousel-inner>.item>img,
  .carousel-inner>.item>a>img {
    width: 100%;
    /* use this, or not */
    margin: auto;
  }
  
  .container {
    border: 1px;
  }


.carousel-inner {
    background-color: grey;
}

#pwb-carousel-bg {
    background-color: grey;
}

.container {
    line-height: 1.4;
    text-align: center;
    padding: 44px;
    color: #333;
  }
  
 #data {
    font-size: 10px;
    float: left;
  }
  
  .cardBody {
    border: 5px solid hotpink;
    padding: 5px;
    margin-left:auto;
    margin-right: auto;
    
  }
  
  .petImage {
    object-fit:contain;
    max-width: 23em;
    background-color:  grey;
    padding: 5px;
    margin-bottom: 1em;
  }

  
 