#searchForm {
    background-color: #777;
    border: 2px solid #777;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#searchForm * {
    margin:4px;
}

#searchForm .form-control {
    border: 1px solid #DE3EA1;
    margin:4px;
    background-color: white;
}

#searchForm .form-control:hover, .form-control:active, .form-control:focus {
    border: 1px solid #b33683 !important;
    box-shadow: 0 0 0 0.2rem #de3ea180 !important;
}

#cityOrZip {
    display:flex;
    align-items:center;
}

#zipControl {
    width:195px;
}

#cityNameControl {
    width:125px;
}

#stateNameControl {
    width:62px;
}

.tooltip-inner {
    background-color: #b33683;
}

.form-select {
    height:38px;
    border: 1px solid #b33683 !important;
    border-radius:5px;
}

.form-select:hover, .form-select:active, .form-select:focus {
    border: 1px solid #b33683 !important;
    box-shadow: 0 0 0 0.2rem #de3ea180 !important;
}

.btn {
    height:38px;
}

.form-check-input {
    display:block;
}

.form-check-label {
    display:block;
    padding-left:18px;
}

.dropdown-menu {
    width:400px;
}

#advancedSearch {
    background-color: #DE3EA1;
    border: 1px solid #DE3EA1;
    margin:4px;
}

#speciesButtons {
    display: flex;
    align-items: center;
    /* margin:0; */
}

#toggleGroup {
    margin:0;
}

[type='radio'] {
    display: none; 
    }

.toggle {
    margin-left:0 !important;
    margin-right:0 !important;
    border-radius:0;
}

#otherTypeInput {
    width: 150px;
    border-radius:0;
    margin-left:0 !important;
}

#otherTypeInput:disabled {
    background-color: #ccc;
}
