/* 
Colors: 
pink #DE3EA1
orange #FA7546
*/


body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3 {
  font-weight:700;
}

/* Button variants */
.pink {
  background-color: #DE3EA1;
  border: 1px solid #DE3EA1;
  margin:4px;
}

.pink:hover, .pink:active {
  background-color: #b33683 !important;
  border: 1px solid #b33683 !important;
  box-shadow: 0 0 0 0.2rem #de3ea180 !important;
}

.pink:focus {
  background-color: #b33683 !important;
  box-shadow: 0 0 0 0.2rem #de3ea180 !important;
}

.orange {
  background-color: #FA7546;
  border: 1px solid #FA7546;
  margin:4px;
}

.orange:hover, .orange:active {
  background-color: #b85835 !important;
  border: 1px solid #b85835 !important;
  box-shadow: 0 0 0 0.2rem #FA754680 !important;
}

.orange:focus {
  box-shadow: 0 0 0 0.2rem #FA754680 !important;
}
